.product-list-container {
    width: 80%;
    margin: 0 auto;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .message {
    color: green;
    text-align: center;
  }
  
  .product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .product-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  
  .product-item p {
    flex-grow: 1;
  }
  
  button {
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .edit-btn {
    background-color: #cdaeda;
    color: white;
  }
  
  .delete-btn {
    background-color: #9e0b00;
    color: white;
  }
  
  .form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .submit-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn, .cancel-btn {
    margin-top: 10px;
    margin-right: 10px;
  }
  