.task-list-container {
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  background-color: #f4f4f9;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.task-item p {
  font-size: 16px;
  color: #555;
}

.task-actions {
  margin-top: 25px;
}

.edit-button, .delete-button {
  padding: 15px 25px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  margin-bottom: 15px;
  border: 2px solid #7f8ad9;
  background-color: #f4f4f9;
  color: rgb(1, 0, 0);
}

.delete-button {
  border: 2px solid #cd2424;
  background-color: #f4f4f9;
  color: rgb(0, 0, 0);
}

.edit-button:hover {
  background-color: #d26a25;
}

.delete-button:hover {
  background-color: #d42522;
}
